[Unit]
Description=Zabbix Agent
After=network.target

[Service]
Type=forking
RuntimeDirectory=zabbix
RuntimeDirectoryMode=0755
User=zabbix
Group=zabbix
ExecStart=/usr/local/sbin/zabbix_agentd -c /usr/local/zabbix/conf/zabbix_agentd.conf
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
KillMode=control-group
RestartSec=10s

[Install]
WantedBy=multi-user.target
